<div id="banner">
	<div id="siteName">
		<%= link_to "Boyd's Blog", root_path %>
	</div>
	<div id="sloganNewArtCont">
		<div id="newArticleLink">
			<%= link_to "New Article", new_article_path %>
		</div>
		<div id="slogan">
			<p><i>A place for thoughts to flow...</i></p>
		</div>
	</div>
</div>
